/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #00070e;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #73ace9;
}

.navbar-brand {
    color: #141414 !important;
}

.nav-link {
    color: #111111 !important;
    font-weight: 100;
}

.nav-link:hover {
    background-color: #010911;
    color: #abb1e4 !important;
}

/* Container Styles */
.container {
    margin-top: 20px;
}

/* Heading Styles */
h1 {
    color: #007bff;
}

/* Paragraph Styles */
p {
    font-size: 1.1em;
}

/* Footer Styles */
footer {
    background-color: #007bff;
    color: #a0acee;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
